{% include 'partials/navbar.html' %}
<div class="container mt-4">
  <h4>Gestione Colonnine</h4>
  <table class="table mt-3" id="stationsTable">
    <thead><tr><th>ID</th><th>Indirizzo</th><th>Potenza</th><th>Stato</th></tr></thead>
    <tbody></tbody>
  </table>
</div>

<script src="/static/js/api.js"></script>
<script>
(async () => {
  const data = await API.stations.getAll();
  const body = document.querySelector('#stationsTable tbody');
  data.forEach(s => {
    body.innerHTML += `<tr><td>${s.id}</td><td>${s.address}</td><td>${s.power_kw}</td><td>${s.status}</td></tr>`;
  });
})();
</script>
